/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 abr. 2022, 1:30:30
    Author     : monic
*/

#libros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    
    width: 15rem;
    margin: 2rem;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.card-heading {
    font-weight: bold;
    font-size: 1.2rem;
}

.barra-filtro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-header {
    font-weight: bold;
    font-size: 1.2rem;
}

.precio {
   padding: 0.5rem;
   font-size: 1.5rem;
   font-weight: bold;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
}

#c-load{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #283845;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 