/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 may. 2022, 0:13:21
    Author     : monic
*/

.libro-detalles {
    display: flex;
    flex-direction: row;
}

.libro-datos {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 30vw;
    font-size: 1.2rem;
}

.libro-imagen {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    width: 20vw;
}

#imagen-libro{
    width:100%;
    max-width: 100vw;
}

#precio {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#fondo-precio{
    width: 10rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

#comprar{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
#btn-comprar {
    margin-right: 2rem;
    font-size: 1.2rem;
}