@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


html {
    background-color: #ececec;
    //background: url(../img/SimpleShiny.svg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 4.5rem;
}
.navegacion {
    background-color: #283845;

}

.navbar-brand {
    color: #eeeeee !important;
    font-family: 'Major Mono Display', monospace !important;
    font-size: 2rem;
}

.banner {
    background-image: url(../img/old-books.jpg);
    background-size: 80vw;
    background-repeat: no-repeat;
    background-position-y: -15rem;
    height: 15rem;
    //background-color: rgba(40,56,69,0.6839110644257703);
    border-radius: 10rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.bienvenida {
    color: white;
    //text-shadow:1px 0 0 black,0 1px 0 black,-1px 0 0 black,0 -1px 0 black;
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    font-weight: 600;
    font-size: 3rem;
}

.texto-bienvenida {

    padding: 2rem;
    height: 10rem;
    width: 130rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    alignt-items: center;
}

button{
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.boton:hover {
    background-color: #E1E3DE;
}



.t2 {
    color: #283845;
    font-weight: bold;
}

i {
    color: #283845;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tarjetas .card{
    margin: 1rem;
    padding-top: 1rem;
}

.tarjeta-img{
    width: 100px;
    height: auto;
    margin: auto;
}

.tarjeta-title{
    font-weight: bold;
}

.c-bienvenida{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10rem;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(255,255,255,0.7) 49%, rgba(255,255,255,0.6839110644257703) 80%);
    border-right: 10px solid white;
    margin-bottom: 2rem;
}
.bienvenida-titulo{
    font-family: 'Major Mono Display', monospace !important;
    font-size: 4rem;
}

.bienvenida-subtitulo{
    font-size: 1.1rem;
}

.acciones{
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.acciones p{
    background-color: white;
    padding: 1rem;
    width: 40vw;
    text-align: center;
    border-radius: 5rem;
}

.acciones a{
    text-decoration: none;
}

footer{
    text-align: center;
    color:#a8a8a8;
    padding: 0.5rem;
}